<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{heroe.superhero}}</mat-card-title>
    <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img matCardImage src="assets/heroes/{{heroe.id}}.jpg" alt="{{heroe.superhero}}"> -->
  <img matCardImage [src]="heroe | imagen" alt="{{heroe.superhero}}">
  <mat-card-content>
    <h3>{{heroe.publisher}}</h3>
    <p>
      <strong>Primera aparación: </strong>{{heroe.first_appearance}}
      <br>
      <strong>Personajes que inerpreta esta persona: </strong>{{heroe.characters}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/heroes', heroe.id]" mat-button color="warn">Leer más...</button>
    <button [routerLink]="['/heroes/editar', heroe.id]" mat-button>Editar</button>
  </mat-card-actions>
</mat-card>
